<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @appointment %>
    <% if user_signed_in? %>
    
    <% if current_user.receptionist? %>   

<div class="flex justify-center mb-12">
  <div class="w-full max-w-lg">
    <div class="flex justify-between space-x-4 mt-10">
      <%= link_to "Edit Appointment", edit_appointment_path(@appointment), class: "flex-1 text-center border px-4 py-2 rounded bg-gray-200 hover:bg-gray-700 hover:text-white transition-all duration-200 whitespace-nowrap" %>
      <%= button_to "Destroy this appointment", @appointment, method: :delete, class: "flex-1 text-center border px-4 py-2 rounded bg-red-200 hover:bg-red-700 hover:text-white transition-all duration-200 whitespace-nowrap" %>
    </div>
  </div>
</div>
    <% end %>
    <% end %>
  </div>
</div>